.Rproj.user
.Rhistory
.RData
_publish.R
_book
_bookdown_files
rsconnect
.DS_Store
latex/.DS_Store
pics/.DS_Store
r02pro/.Rproj
up_r02pro.sh
old_version
data
images
latex
ref
r02pro.pdf
r02pro.log
.gitignore
r02pro.tex

